<div class="Fondo">
	<img src="../../../assets/img/fondo1.jpg">
</div>
<div class="container pt-5">
	<div class="row">
		<img [src]="resultados.avatar" class="img-icon col-2">
		<div class="col ml-5 pl-5 pt-5">
			<h2>{{resultados.first_name}} {{resultados.last_name}}</h2>
			<h4>{{resultados.email}}</h4>
			<h5>Área de trabajo: Desarrollador de videojuegos</h5>
		</div>
	</div>
	<button class="btn btn-danger bg-custom mt-5 py-2 px-4" style="font-size: 30px; color: white; font-weight: bold;"> !!Contratar!!</button>
</div>