
<div class="Fondo" id="fondo">
	<app-shader></app-shader>
</div>
<div class="Fondo-container my-4 d-flex flex-wrap justify-content-center">
		<div>
			<h1 class="snow">Digital Games</h1>
			<h5 class="snow">Aun falta mucho que hacer en esta pagina, mientras tanto que tal un pac-man, porque somos chidos.</h5>
			<div class="container my-3 center">
				<iframe src="https://www.retrogames.cc/embed/9409-pac-man-plus.html" width="600" height="450" frameborder="yes" allowfullscreen="false" webkitallowfullscreen="false" mozallowfullscreen="false" scrolling="no"></iframe> 
			</div> 
		</div>
</div>
<div class="view"></div>
